html, body {
    background-color: $background;
    color: $font-color;
    box-sizing: border-box;
    font-size: $font-size + 6;
  }
   /* Header */
  .intro-webpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: ($measure + 20) 0 0 ($measure + 10);
    height: $measure * 20;
    img {
      width: $measure * 10;
      height: $measure * 10;
    }
    p {
      padding: $measure 0;
    }
  }
  /* Body */
  .news-content {
    text-align: center;
    padding: $measure;
  }
  /* Footer */
  footer {
    text-align: center;
  }