html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: $background;
    color: $font-color;
    box-sizing: border-box;
    font-size: $font-size + 6;
    max-width: 100%;
    img { 
      max-width: 100%;
      max-height: 100%;
    }
  }

   /* Header */
  .intro-webpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $full-size - 15;
    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      justify-content: flex-start;
      padding-left: $gMeasure * 5;
    }
    .nyt-logo {
      width: $gMeasure * 15;
      height: $gMeasure * 15;
      @include tablet {
        width: $gMeasure * 10;
        height: $gMeasure * 10;
        padding: 0 ($gMeasure * 2) 0 0;
      }
    }
    p {
      padding: $gMeasure 0;
    }
    .dropdown-section {
      border-radius: 5px;
      border: none;
      padding: $gMeasure / 10;
      text-align: center;
    }
    .preload {
      display: none;
      align-self: center;
      width: $gMeasure * 2.5;
      height: $gMeasure * 2.5;
      padding-top: $gMeasure;
      @include tablet {
        align-self: center;
      }
    }
  }

  /* Body */
section {
  .news-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

  li {
    a, a:link, a:visited {
      text-decoration: none;
      color: $font-color;
      article {
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        width: $image-width;
        height: $image-height;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include tablet {
          width: $image-width / 3;
          height: $image-height + 100;
        }
        @include desktop {
          width: $image-width / 4;
          height: $image-height + 100;
        }
        .text-content {
          height: $gMeasure * 3;
          background-color: rgba(0, 0, 0, 0.5);
          padding: ($gMeasure - 5) ($gMeasure / 3);
          line-height: ($gMeasure + 10);
        }
      }
    }
  }

  /* Footer */
  footer {
    color: $footer-color;
    text-align: center;
    @include desktop {
      text-align: left;
      padding-left: $gMeasure * 5;
    }
    p {
      padding: ($gMeasure * 2.5) 0;
    }
  }