/* Header */
.intro-fetch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: $full-size / 4;
    .logo-fetch {
        width: $gMeasure * 5;
        height: $gMeasure * 5;
    }
}