/* Header */
.new-size {
    height: $header-mobile;
    @include tablet {
        height: $header-tablet;
    }
    @include desktop {
        height: $header-desktop;
    }
}

.new-logo {
    width: $global * 7;
    height: $global * 7;
    padding: ($global + 5) 0 0 0;
    @include tablet {
        padding: 0 ($global * 3.5) 0 0;
    }
    @include desktop {
        padding: 0 ($global * 3.5) 0 0;
    }
}