/* Header */
.new-size {
    height: auto;
    @include tablet {
        height: auto;
    }
}
.new-logo {
    width: $gMeasure * 8;
    height: $gMeasure * 8;
    padding-top: $gMeasure + 5;
    @include tablet {
        width: $gMeasure;
        height: $gMeasure;
        padding: 15px 0;
    }
}