// Website generals
$background: #000000;

// Fonts
$font-color: #FFFFFF;
$footer-color: #C2C2C2;
$font-size: 10px;

// Units of measure
$gMeasure: 15px;
$full-size: 100vh;
$image-width: 100vw;
$image-height: 350px;

// Header sizing
$header-mobile: 35vh;
$tablet-mobile: 20vh;

// Breakpoints
$tabletBreakpoint: 600px;
$desktopBreakpoint: 1240px;